<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

    <h2>Sorry, access denied</h2>
    <a th:href="@{/}" class="btn  btn-secondary fw-bold border-white" style="">Back home</a>

<div th:replace="fragments/bootstrapScripts :: bootstrapScripts"></div>
</body>
</html>