<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Catalogue</title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>


    <tr th:each="course: ${courses}">
        <td th:text="${course.name}"/>
        <td th:text="${course.theme}"/>
        <td th:text="${course.startDate}"/>
        <td th:text="${course.endDate}"/>
        <td th:text="${course.courseStatus}"/><br>
    </tr>

<div th:replace="fragments/bootstrapScripts :: bootstrapScripts"></div>
</body>
</html>