<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{catalogue.title}"></title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<div class="card-body p-5 text-center" th:if="${dataError != null}">
    <div class="data-error" th:text="${dataError}">Data Error</div>
    <br>
</div>

<h3 class="center" th:text="#{catalogue.filter}"/>
<div class="row justify-content-center">
    <form th:action="@{/course-catalogue}">
        <div class="row col-md-13">
            <table class="table table-bordered table-sm">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{catalogue.theme}"/>
                    <th th:text="#{catalogue.teacher}"/>
                    <th th:text="#{catalogue.sort}"/>
                    <th th:text="#{catalogue.order}"/>
                    <th th:text="#{catalogue.records}"/>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <label for="theme"></label>
                        <select name="theme" id="theme">
                            <option value="" selected disabled hidden th:text="#{catalogue.all}"></option>
                            <span th:each="theme: ${themesForForm}">
                                <option th:value="${theme}" th:text="${theme}"/>
                            </span>
                        </select>
                    </td>
                    <td>
                        <label for="teacher"></label>
                        <select name="teacher" id="teacher">
                            <option value="" selected disabled hidden th:text="#{catalogue.all}"></option>
                            <span th:each="teacher: ${teacherForForm}">
                                <option th:value="${teacher.id}" th:text="${teacher.lastName + ' ' + teacher.firstName}"/>
                            </span>
                        </select>
                    </td>
                    <td>
                        <input type="radio" id="name" name="sortWay" value="name">
                        <label for="name" th:text="#{catalogue.sort.name}"/><br>
                        <input type="radio" id="start_date" name="sortWay" value="DATEDIFF(end_date, start_date)">
                        <label for="start_date" th:text="#{catalogue.sort.duration}"/><br>
                        <input type="radio" id="student_enrolled" name="sortWay" value="student_enrolled">
                        <label for="student_enrolled" th:text="#{catalogue.sort.student.enrolled}"/><br>
                    </td>
                    <td>
                        <input type="radio" id="ascending" name="order" value="ascending">
                        <label for="ascending" th:text="#{catalogue.order.ascending}"/><br>
                        <input type="radio" id="descending" name="order" value="descending">
                        <label for="descending" th:text="#{catalogue.order.descending}"/><br>
                    </td>
                    <td>
                        <input type="radio" id="2" name="size" value="2">
                        <label for="ascending">2</label><br>
                        <input type="radio" id="5" name="size" value="5">
                        <label for="descending">5</label><br>
                        <input type="radio" id="10" name="size" value="10">
                        <label for="ascending">10</label><br>
                        <input type="radio" id="25" name="size" value="25">
                        <label for="descending">25</label><br>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <input type="submit" th:value="#{catalogue.apply}">
        <input type="reset" th:value="#{catalogue.reset}">
    </form>
</div>


<h3 class="center" th:text="#{catalogue.course.title}"/>
<div class="row justify-content-center">
    <div class="row col-md-8">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th th:text="#{catalogue.course.name}"/>
                    <th th:text="#{catalogue.course.theme}"/>
                    <th th:text="#{catalogue.course.start.date}"/>
                    <th th:text="#{catalogue.course.end.date}"/>
                    <th th:text="#{catalogue.course.course.status}"/>
                    <th th:text="#{catalogue.course.student.enrolled}"/>
                    <th th:text="#{catalogue.course.teacher}"/>
                    <span sec:authorize="hasAuthority('Student')" class="navbar-nav">
                            <th th:text="#{catalogue.course.student.option}"/>
                    </span>
                    <span sec:authorize="hasAuthority('Admin')" class="navbar-nav">
                            <th th:text="#{catalogue.course.admin.option}"/>
                    </span>
                </tr>
            </thead>
            <tbody>

                    <tr th:each="course,iter: ${courses}">
                        <td th:text="${course.name}"/>
                        <td th:text="${course.theme}"/>
                        <td th:text="${#temporals.format(course.startDate, 'dd-MM-yyyy HH:mm')}"/>
                        <td th:text="${#temporals.format(course.endDate, 'dd-MM-yyyy HH:mm')}"/>
                        <td th:text="${course.courseStatus}"/>

                        <th:block th:each="i: ${#numbers.sequence(0, size)}">
                            <span th:if="${i == iter.index}">
                                <span th:each="nOfStudents,iter: ${studentsEnrolled}">
                                    <span th:if="${i == iter.index}">
                                        <td th:text="${nOfStudents}"/>
                                    </span>
                                </span>
                                <span th:each="teacher, iter: ${teachers}">
                                     <span th:if="${i == iter.index}">
                                         <td th:text="${teacher.lastName + ' '+ teacher.firstName}"/>
                                     </span>
                                </span>
                            </span>
                        </th:block>

                        <th:block th:each="i: ${#numbers.sequence(0, size)}">
                            <span th:if="${i == iter.index}">
                                <span sec:authorize="hasAuthority('Student')" class="navbar-nav">
                                    <span th:each="selected,iter: ${courseAlreadySelected}">
                                        <span th:if="${i == iter.index}">
                                            <span th:if="${selected eq false}">
                                                <td>
                                                    <form method="post" th:action="@{/student/enroll}">
                                                        <input type="number" hidden name="courseId" th:value="${course.id}"/>
                                                        <input class="btn btn-success" type="submit" name="enroll" th:value="#{catalogue.course.enroll}"/>
                                                    </form>
                                                </td>
                                            </span>
                                            <span th:unless="${selected eq false}">
                                                <td>
                                                    <form method="post" th:action="@{/student/leave}">
                                                        <input type="number" hidden name="courseId" th:value="${course.id}"/>
                                                        <input class="btn btn-danger" type="submit" name="enroll" th:value="#{catalogue.course.leave}"/>
                                                    </form>
                                                </td>
                                            </span>
                                        </span>
                                    </span>
                                </span>
                            </span>
                        </th:block>

                        <span sec:authorize="hasAuthority('Admin')" class="navbar-nav">
                            <td>
                                <form method="post" th:action="@{/admin/delete-course}">
                                   <input type="number" hidden name="courseId" th:value="${course.id}"/>
                                   <input class="btn btn-danger" type="submit" name="delete" th:value="#{catalogue.course.delete}"/>
                                </form><br>
                                <form method="get" th:action="@{/admin/update-course}">
                                   <input type="number" hidden name="courseId" th:value="${course.id}"/>
                                   <input class="btn btn-warning" type="submit" th:value="#{catalogue.course.update}"/>
                                </form><br>
                            </td>
                        </span>
                    </tr>
            </tbody>
        </table>

        <nav aria-label="navigation for courses">

            <ul class="pagination">
                <span th:if="${page !=  1}">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{ ${url} + '?' + page + '=' + ${page - 1} + '&' + size + '=' + ${size} + '&' + theme + '=' + ${theme} + '&' + teacher + '=' + ${teacher} + '&' + sortWay + '=' + ${sortWay} + '&' + order + '=' + ${order}}"
                           th:text="#{catalogue.course.page.previous}">
                        </a>
                    </li>
                </span>

                <th:block th:each="i: ${#numbers.sequence(1, noOfPages)}">
                    <span th:if="${page ==  i && i != noOfPages}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{ ${url} + '?' + page + '=' + ${i} + '&' + size + '=' + ${size} + '&' + theme + '=' + ${theme} + '&' + teacher + '=' + ${teacher} + '&' + sortWay + '=' + ${sortWay} + '&' + order + '=' + ${order} }"
                               th:text="${i}">
                            </a>
                        </li>
                    </span>
                    <span th:unless="${page ==  i}">
                        <li class="page-item">
                            <a class="page-link"
                               th:href="@{ ${url} + '?' + page + '=' + ${i} + '&' + size + '=' + ${size} + '&' + theme + '=' + ${theme} + '&' + teacher + '=' + ${teacher} + '&' + sortWay + '=' + ${sortWay} + '&' + order + '=' + ${order} }"
                               th:text="${i}">
                            </a>
                        </li>
                    </span>
                </th:block>

                <span th:if="${page lt  noOfPages}">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{  ${url} + '?' + page + '=' + ${page + 1} + '&' + size + '=' + ${size}  + '&' + theme + '=' + ${theme} + '&' + teacher + '=' + ${teacher} + '&' + sortWay + '=' + ${sortWay} + '&' + order + '=' + ${order} }"
                           th:text="#{catalogue.course.page.next}">
                        </a>
                    </li>
                </span>
            </ul>

        </nav>
    </div>
</div>

<div th:replace="fragments/bootstrapScripts :: bootstrapScripts"></div>
</body>
</html>