<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<head>
    <meta charset="UTF-8">
    <title th:text="#{profile.title}"></title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body class="profile-background">
<div th:replace="fragments/navbar :: navbar"></div>

<div class="center">
    <h2 th:text="#{profile.user.info}"/>

    <strong><span th:text="#{profile.name}"/></strong> <span th:text="${user .firstName}"/><br>
    <strong><span th:text="#{profile.surname}"/></strong> <span th:text="${user.lastName}"/><br>
    <strong><span th:text="#{profile.you.are}"/></strong> <span th:text="${user.role}"/><br>
    <strong><span th:text="#{profile.login}"/></strong> <span th:text="${user.login}"/><br>
    <strong><span th:text="#{profile.email}"/></strong> <span th:text="${user.email}"/><br>
    <strong><span th:text="#{profile.phone}"/></strong> <span th:text="${user.phoneNumber}"/><br>
</div>

<div th:replace="fragments/bootstrapScripts :: bootstrapScripts"></div>
</body>
</html>