<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{student.courses.title}"></title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>

<h2 class="center" th:text="#{student.courses.registered.courses}"/>
<div class="row justify-content-center">
    <div class="row col-md-8">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
            <tr>
                <th th:text="#{student.courses.name}"/>
                <th th:text="#{student.courses.theme}"/>
                <th th:text="#{student.courses.start.date}"/>
                <th th:text="#{student.courses.end.date}"/>
            </tr>
            </thead>
            <tbody>
                <tr th:each="course: ${registeredCourses}">
                    <td th:text="${course.name}"/>
                    <td th:text="${course.theme}"/>
                    <td th:text="${#temporals.format(course.startDate, 'dd-MM-yyyy HH:mm')}"/>
                    <td th:text="${#temporals.format(course.endDate, 'dd-MM-yyyy HH:mm')}"/>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<h2 class="center" th:text="#{student.courses.in.progress.courses}"/>
<div class="row justify-content-center">
    <div class="row col-md-8">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
            <tr>
                <th th:text="#{student.courses.name}"/>
                <th th:text="#{student.courses.theme}"/>
                <th th:text="#{student.courses.start.date}"/>
                <th th:text="#{student.courses.end.date}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course: ${inProgressCourses}">
                <td th:text="${course.name}"/>
                <td th:text="${course.theme}"/>
                <td th:text="${#temporals.format(course.startDate, 'dd-MM-yyyy HH:mm')}"/>
                <td th:text="${#temporals.format(course.endDate, 'dd-MM-yyyy HH:mm')}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<h2 class="center" th:text="#{student.courses.finished.courses}"/>
<div class="row justify-content-center">
    <div class="row col-md-8">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
            <tr>
                <th th:text="#{student.courses.name}"/>
                <th th:text="#{student.courses.theme}"/>
                <th th:text="#{student.courses.start.date}"/>
                <th th:text="#{student.courses.end.date}"/>
                <th th:text="#{student.courses.mark.points}"/>
                <th th:text="#{student.courses.mark.code}"/>
                <th th:text="#{student.courses.mark.explanation}"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course: ${finishedCourses}">
                <td th:text="${course.name}"/>
                <td th:text="${course.theme}"/>
                <td th:text="${#temporals.format(course.startDate, 'dd-MM-yyyy HH:mm')}"/>
                <td th:text="${#temporals.format(course.endDate, 'dd-MM-yyyy HH:mm')}"/>
                <span th:each="mark: ${journalInfo}">
                    <td th:text="${mark.markPoints}"/>
                    <td th:text="${mark.markCode}"/>
                    <td th:text="${mark.markExplanation}"/>
                </span>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/bootstrapScripts :: bootstrapScripts"></div>
</body>
</html>