<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.catalogue.title}"></title>
    <div th:replace="fragments/head :: head"></div>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>


<div class="center">
    <h2 class="center" th:text="#{user.catalogue.students}"/>
        <form method="get" action="controller">
            <input type="hidden" name="command" value="PDF_REPORT">
            <input class="btn btn-info" type="submit" name="delete" value="pdf"/>
        </form>
</div><br>

<div class="row justify-content-center">
    <div class="row col-md-6">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th th:text="#{user.catalogue.login}"/>
                    <th th:text="#{user.catalogue.email}"/>
                    <th th:text="#{user.catalogue.first.name}"/>
                    <th th:text="#{user.catalogue.last.name}"/>
                    <th th:text="#{user.catalogue.admin.option}"/>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student: ${students}">
                    <td th:text="${student.login}"/>
                    <td th:text="${student.email}"/>
                    <td th:text="${student.firstName}"/>
                    <td th:text="${student.lastName}"/>
                    <span th:if="${student.userAccess == true}">
                        <td>
                            <form method="post" th:action="@{/admin/student-access}">
                                <input type="number" hidden name="id" value="${student.id}"/>
                                <input class="btn btn-danger" type="submit" name="block" value="Block"/>
                            </form>
                        </td>
                    </span>
                    <span th:unless="student.userAccess != true">
                        <td>
                            <form method="post"th:action="@{/admin/student-access}">
                                <input type="number" hidden name="id" value="${student.id}"/>
                                <input class="btn btn-success" type="submit" name="block" value="Unblock"/>
                            </form>
                        </td>
                    </span>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="center">
    <h2 class="center" th:text="#{user.catalogue.teachers}"/>
        <form method="get" action="controller">
            <input type="hidden" name="command" value="PDF_REPORT">
            <input class="btn btn-info" type="submit" name="delete" value="pdf"/>
        </form>
</div><br>

<div class="row justify-content-center">
    <div class="row col-md-6">
        <table class="table table-bordered table-sm">
            <thead class="thead-light">
                <tr>
                    <th th:text="#{user.catalogue.login}"/>
                    <th th:text="#{user.catalogue.email}"/>
                    <th th:text="#{user.catalogue.first.name}"/>
                    <th th:text="#{user.catalogue.last.name}"/>
                </tr>
            </thead>
            <tbody>
                <tr th:each="teacher: ${teachers}">
                    <td th:text="${teacher.login}"/>
                    <td th:text="${teacher.email}"/>
                    <td th:text="${teacher.firstName}"/>
                    <td th:text="${teacher.lastName}"/>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/bootstrapScripts :: bootstrapScripts"></div>
</body>
</html>